
{% extends "layout/page.html" %}
{% block css %}
    <style>
        .category-image {
            width: 640px;  /* Set a fixed width */
            height: 360px; /* Set a fixed height */
            object-fit: cover; /* Ensures the image covers the specified dimensions without distortion */
            border-radius: 8px; /* Optional: adds rounded corners to the images */
        }
    </style>

{% endblock %}
{% block sidebar %}
    {% include "layout/sidebar.html" %}
{% endblock %}
{% block content %}
<div id="wrapper">

    <section id="two" class="wrapper style3 fade-up">
        <h2>Checkout</h2>
        {% if cart.items %}
            <form action="{{ url_for('cart.process_checkout') }}" method="post">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" required>
                </div>
                <div>
                    <label for="payment">Additional Information:</label>
                    <span>
                        Use this space to provide more information about what you need done, for example in the case of a banner
                        provide additional details like what you need to be printed in that banner
                    </span>
                    <textarea type="text" id="payment" name="payment" required></textarea>
                </div>
                <h3>Your Cart:</h3>
                <ul>
                    {% for item in cart.items %}
                        <li>{{ item.name| title }} (Quantity: {{ item.quantity }}), (Item Price: {{ item.item_price | currency }}), (Sub Total : {{ item.line_price| currency }})</li>
                    {% endfor %}
                </ul>
                <div class="total">
                    Total: {{ cart.total_price | currency }}
                </div>
            <div>
                <button type="submit">Place Order</button>
            </div>
            </form>
        {% else %}
            <p>Your cart is empty! Please add items to your cart before checking out.</p>
        {% endif %}
    </section>
</div>
{% endblock %}
