
{% extends "admin/layout/page.html" %}
{% block content %}
    <main class="main" id="skip-target">
      <div class="container">
        <h2 class="main-title">Categories</h2>
          <div>
          </div>
            <div class="table-wrapper">
                    <table class="users-table table">
                        <tr class="title">
                                <th>Category Name</th>
                                <th>Description</th>
                                <th>Total Products</th>
                                <th>Tags</th>
                        </tr>
                    </table>
            </div>
      </div>
    </main>
{% endblock %}