
{% extends "admin/layout/page.html" %}
{% block content %}
    <main class="main" id="skip-target">
      <div class="container">
        <h2 class="main-title">Categories</h2>
          <div>
          </div>
            <div class="users-table table-wrapper">
                    <table class="users-table table">
                        <thead>
                            <tr class="users-table-info">
                                <th>Display Image</th>
                                    <th>Category Name</th>
                                    <th>Description</th>
                                    <th>Products</th>
                                </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                  <tr>
                                    <td>
                                      <label class="users-table__checkbox">
                                        <div class="categories-table-img">
                                          <picture>
                                              <a href="{{ url_for('inventory.category_detail', category_id=category.category_id) }}">
                                                  {% if category.display_image_url %}
                                                    <img src="{{ category.display_image_url }}" alt="{{ category.name }}">
                                                  {% else %}
                                                    <img src="/static/images/logo_slim.jpg" alt="{{ category.name }}">
                                                  {% endif %}
                                              </a>
                                          </picture>
                                        </div>
                                      </label>
                                    </td>
                                    <td>{{  category.name | title }}</td>
                                    <td>{{  category.description }}</td>
                                    <td>{{ category.product_count }}</td>
                                    <td></td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
      </div>
    <div class="container">
        <div class="white-block">
            Use the form below to add new categories
        </div>
        <form class="form" action="{{ url_for('inventory.add_category') }}" method="POST" enctype="multipart/form-data">
          <label class="form-label-wrapper">
            <p class="form-label">Category Name</p>
            <input class="form-input" type="text" name="name" id="name" required>
          </label>
          <label class="form-label-wrapper">
            <p class="form-label">Description</p>
            <input class="form-input" type="text" name="description" id="description" required>
          </label>
          <label class="form-label-wrapper">
            <p class="form-label">Display Image</p>
            <input class="form-input" type="file" name="display_image" id="display_image" required>
          </label>
            <button class="form-btn primary-default-btn transparent-btn">Add Category</button>
        </form>
    </div>
    </main>
{% endblock %}