{% extends "admin/layout/page.html" %}

{% block content %}
<main class="main" id="skip-target">
  <div class="container">
    <h2 class="main-title">Category Detail</h2>
        <div class="white-block">
            <ol>
              <li><strong>Name:</strong> {{ category.name|title }}</li>
              <li><strong>Description:</strong> {{ category.description }}</li>
              <li><strong>Current Inventory:</strong> {{ category.product_count }}</li>
              <li><strong>Visible:</strong> {{ category.is_visible }}</li>
            </ol>
        </div>
       <div class="table-wrapper">
           <h3 class="white-block">Category Products</h3>
            <table class="users-table table">
                    <thead>
                    <tr class="title">
                        <th>Display Image</th>
                        <th>Product Name</th>
                        <th>Buy Price</th>
                        <th>Sell Price</th>
                        <th>Inventory</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in category.products %}
                          <tr>
                            <td>
                              <label class="users-table__checkbox">
                                <div class="categories-table-img" >
                                    <a href="{{ url_for('inventory.get_product', product_id=product.product_id) }}">
                                        <div class="img img-thumbnail">
                                                {% if product.display_image_url %}
                                                    <img src="{{ product.display_image_url }}" alt="category">
                                                {% else %}
                                                    <img src="/static/images/logo_slim.jpg" alt="{{ product.name }}">
                                                {% endif %}
                                        </div>
                                    </a>
                                </div>
                              </label>
                            </td>
                              <td><a href="{{ url_for('inventory.get_product', product_id=product.product_id) }}">{{ product.name| title }} </a></td>
                            <td>{{ product.buy_price }}</td>
                            <td>{{ product.sell_price }}</td>
                            <td>{{ product.inventory_count }} </td>
                          </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
