

{% extends "admin/layout/page.html" %}
{% block content %}
    <main class="main" id="skip-target">
      <div class="container">
            <h2 class="main-title">Edit Product</h2>
          <div class="white-block">
            <span>Update your product here</span>
          </div>
          <form class="form" method="POST" action="{{ url_for('inventory.do_edit_product') }}" enctype="multipart/form-data">
          <input type="hidden" name="product_id" id="product_id" value="{{ product.product_id }}" />
            <div class="row">
                <div class="col-lg-9 col-md-9">
                        <label class="form-label-wrapper">
                            <p class="form-label">Product Title</p>
                            <input type="text" class="form-input"  name="name" id="product_title" value="{{ product.name }}"/>
                        </label>
                        <label class="form-label-wrapper">
                            <p class="form-label">Product Description</p>
                            <textarea class="form-input"  rows="8" cols="50" name="description" id="product_description">{{ product.description }}</textarea>
                        </label>

                        <label class="form-label-wrapper">
                            <p class="form-label">Display Image</p>
                            <img src="{{ product.display_image_url }}"  class="img img-fluid img-thumbnail"/>
                            <input type="file" class="form-control" name="display_image" id="display_image"   accept=".png" multiple required>
                        </label>
                </div>
                <div class="col-lg-3">
                    <h2 class="main-title">Organize</h2>
                        <div class="col-lg-12">
                            <label class="form-label-wrapper">
                                <p class="form-label">Category</p>
                                {% if categories %}
                                <select class="form-input" name="category_id" id="category">

                                    {% for category in categories %}
                                        <option value="{{ category.category_id }}" {% if category.category_id == product.category_id %} selected {% endif %}>{{ category.name| title }}</option>
                                    {% endfor %}
                                </select>
                                    <a href="{{ url_for("inventory.get_categories") }}" class="form-btn primary-default-btn transparent-btn">
                                        Manage Categories
                                    </a>

                                {% else %}
                                    <span class="white-block"> Please Define Product Categories</span>
                                    <a href="{{ url_for('inventory.get_categories') }}" class="form-btn primary-default-btn transparent-btn">
                                        Add Category
                                    </a>

                                {% endif %}
                            </label>
                        </div>
                </div>
                <div class="col-lg-12">
                    <h2 class="main-title">Inventory</h2>
                    <span class="white-block">Note do not add commas in your price just understand that - 1 rands = 100
                        in other words specify your prices in cents only example : R 255.34 will become 25534</span>

                        <label class="form-label-wrapper">
                            <p class="form-label">Sell Price</p>
                            <input type="number" class="form-input" name="sell_price" id="sell_price" value="{{ product.sell_price }}">
                        </label>

                        <label class="form-label-wrapper">
                            <p class="form-label">Buy Price</p>
                            <input type="number" class="form-input" name="buy_price" id="buy_price" value="{{ product.buy_price }}">
                        </label>
                </div>
                <button class="form-btn primary-default-btn transparent-btn">
                    Publish Product
                </button>

            </div>
          </form>
      </div>
    </main>
{% endblock %}