{% extends "admin/layout/page.html" %}
{% block sidebar %}
    {% include "admin/layout/sidebar.html" %}
{% endblock %}

{% block content %}
    <div id="wrapper">
        <!-- Intro -->
            <section id="admin" class="wrapper style1 fullscreen fade-up">
                <div class="inner">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="title">Admin</h3>
                        </div>
                    </div>
                </div>
            </section>
    </div>

{% endblock %}