


{% extends "admin/layout/page.html" %}
{% block content %}
    <main class="main" id="skip-target">
      <div class="container">
        <h2 class="main-title">Orders</h2>
          <div>
          </div>
            <div class="table-wrapper">
                    <table class="users-table table">
                        <tr class="title">
                            <th>Order</th>
                            <th>Total</th>
                            <th>Customer</th>
                            <th>Payment Status</th>
                            <th>Fulfilment Status</th>
                            <th>Delivery Type</th>
                        </tr>
                    </table>
            </div>
      </div>
    </main>
{% endblock %}