
{% extends "admin/layout/page.html" %}
{% block content %}
    <main class="main" id="skip-target">
      <div class="container">
        <h2 class="main-title">Products</h2>
          <div>

          </div>
            <div class="table-wrapper">
                    <table class="alt">

                        <tr class="main-title">
                                <th>Product Name</th>
                                <th>Buy Price</th>
                                <th>Sell Price</th>
                                <th>Category</th>
                                <th>Tags</th>
                        </tr>

                    </table>
            </div>
      </div>
    </main>

{% endblock %}