{% extends "layout/page.html" %}
{% block css %}
    <style>
        .category-image {
            width: 640px;  /* Set a fixed width */
            height: 360px; /* Set a fixed height */
            object-fit: cover; /* Ensures the image covers the specified dimensions without distortion */
            border-radius: 8px; /* Optional: adds rounded corners to the images */
        }
        .product-list {
            display: grid; /* Use grid layout for products */
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
            gap: 20px; /* Space between products */
        }
        .product {
            border: 1px solid #ddd; /* Optional border for product items */
            padding: 10px; /* Padding inside each product */
            text-align: center; /* Center align text */
            border-radius: 8px; /* Rounded corners */
            background-color: #fff; /* White background */
            transition: box-shadow 0.3s; /* Transition for hover effect */
        }
        .product:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
        }
        .product-image {
            width: 100%; /* Full width for images */
            height: auto; /* Maintain aspect ratio */
            border-radius: 8px; /* Rounded corners for images */
        }
    </style>
{% endblock %}

{% block sidebar %}
    {% include "layout/sidebar.html" %}
{% endblock %}

{% block content %}
    <div id="wrapper">
        <section id="two" class="wrapper style3 fade-up">
            <h2>Categories </h2>
<section id="four" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Categories</h2>
        <p>Explore our wide range of professional print solutions, including Business Cards, Brochures, Flyers, Folded Leaflets, Invitations, and more. Our high-quality products are designed to meet all your business and promotional needs.</p>

        <section>
            <div class="box alt">
                <div class="row gtr-uniform">
                    {% for category in categories %}
                        <div class="col-6">
                            <a href="{{ url_for('browse.get_category', seo_slug=category.display_slug) }}">
                                <span class="image fit">
                                    <img src="{{ category.display_image_url if category.display_image_url else '/static/images/default.png' }}"
                                         alt="{{ category.name }}"
                                         class="category-image" />
                                </span>
                                <h3>{{ category.name | title }}</h3>
                                <p>{{ category.description }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</section>
        </section>
    </div>
{% endblock %}
