<!DOCTYPE HTML>
<html>
	<head>
		<title>NEDMEDIA PRINTERS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<script rel="preload" src="/static/assets/js/jquery.min.js" as="script"></script>
			<script rel="preload" src="/static/assets/js/jquery.scrollex.min.js" as="script"></script>
			<script rel="preload" src="/static/assets/js/jquery.scrolly.min.js" as="script"></script>
			<script rel="preload" src="/static/assets/js/browser.min.js" as="script"></script>
			<script rel="preload" src="/static/assets/js/breakpoints.min.js" as="script"></script>
			<script rel="preload" src="/static/assets/js/util.js" as="script"></script>
			<script rel="preload" src="/static/assets/js/main.js" as="script"></script>

		<link rel="preload" href="/static/assets/css/main.css"  as="style"/>
        <link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="preload" href="/static/assets/css/noscript.css" as="style"/></noscript>

	{% block css %}
    {% endblock %}
    </head>
	<body class="is-preload">
    {% block sidebar %}
		<!-- Sidebar -->

    {% endblock %}
  		<!-- Wrapper -->
        {% block content %}


        {% endblock %}
        <!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Nedmedia Printers. All rights reserved.</li>
					</ul>
				</div>
			</footer>
		<!-- Scripts -->
			<script  src="/static/assets/js/jquery.min.js" ></script>
			<script  src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script  src="/static/assets/js/jquery.scrolly.min.js" ></script>
			<script  src="/static/assets/js/browser.min.js" ></script>
			<script  src="/static/assets/js/breakpoints.min.js"></script>
			<script  src="/static/assets/js/util.js" ></script>
			<script  src="/static/assets/js/main.js" ></script>

	</body>
</html>